clusterGroup:
  name: hub
  isHubCluster: true

  namespaces:
    - vault
    - sepsis-demo
    - openshift-serverless

  subscriptions:
     amqstreams:
        name: amq-streams
        namespace: sepsis-demo
        channel: stable
     serverlessoperator:
        name: serverless-operator
        channel: stable
     rhsso-operator:  
        name: rhsso-operator
        channel: stable
        namespace: sepsis-demo

  projects:
   - hub
   - sepsis-demo

  applications:

    vault:
      name: vault
      namespace: vault
      project: hub
      path: common/hashicorp-vault

    sso:
      name: sso
      namespace: sepsis-demo
      project: sepsis-demo
      path: charts/all/sepsis-demo/sso
      ignoreDifferences:
       - group: apps.openshift.io
         kind: DeploymentConfig
         jqPathExpressions:
          - '.spec.template.spec.containers[].image'   

    kafka-cluster:
      name: kafka-cluster
      namespace: sepsis-demo
      project: sepsis-demo
      path: charts/all/sepsis-demo/kafka-cluster   
      ignoreDifferences:
       - group: apps.openshift.io
         kind: DeploymentConfig
         jqPathExpressions:
          - '.spec.template.spec.containers[].image' 

    fhir:
      name: fhir
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/fhir-server
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'     

    debezium:
      name: debezium
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/debezium
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'  

    kafdrop:
      name: kafdrop
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/kafdrop
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'  

    knative-sepsis: 
      name: knative-sepsis
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/knative
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image' 

    sepsisdetection-risk:
      name: sepsisdetection-risk
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/sepsisdetection-risk
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'

    sepsisdetection-sse:
      name: sepsisdetection-sse
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/sepsisdetection-sse
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'

    sepsisdetection-ml:
      name: sepsisdetection-ml
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/sepsisdetection-ml
      syncPolicy:
        syncOptions:
           - Prune=false
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'

    rhpam:
      name: rhpam
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/rhpam  
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'  
        - '.spec.triggers[].imageChangeParams.lastTriggeredImage'

    sepsisdetection-ui:
      name: sepsisdetection-ui
      namespace: sepsis-demo
      project: sepsis-demo  
      path: charts/all/sepsis-demo/sepsisdetection-ui
      ignoreDifferences:
      - group: apps.openshift.io
        kind: DeploymentConfig
        jqPathExpressions:
        - '.spec.template.spec.containers[].image'


  imperative:
    # NOTE: We *must* use lists and not hashes. As hashes lose ordering once parsed by helm
    # The default schedule is every 10 minutes: imperative.schedule
    # Total timeout of all jobs is 1h: imperative.activeDeadlineSeconds
    # imagePullPolicy is set to always: imperative.imagePullPolicy
    # For additional overrides that apply to the jobs, please refer to
    # https://hybrid-cloud-patterns.io/imperative-actions/#additional-job-customizations
    image: quay.io/redhat_naps_da/ansible-execution-image-with-tools
    jobs:
    - name: sso-realm
      # ansible playbook to be run
      playbook: common/ansible/playbooks/sso-realm/sso-realm.yaml
      # per playbook timeout in seconds
      timeout: 234
      # verbosity: "-v"

  managedClusterGroups:
    exampleRegion:
      name: group-one
      acmlabels:
      - name: clusterGroup
        value: group-one
      helmOverrides:
      - name: clusterGroup.isHubCluster
        value: false

      # Before enabling cluster provisioning, ensure AWS and/or Azure
      #   credentials and OCP pull secrets are defined in Vault.
      #   See values-secret.yaml.template
      #
      #clusterPools:
      #  exampleAWSPool:
      #    name: aws-ap
      #    openshiftVersion: 4.10.18
      #    baseDomain: blueprints.rhecoeng.com
      #    platform:
      #      aws:
      #        region: ap-southeast-2
      #    clusters:
      #    - One
      #
      #  exampleAzurePool:
      #    name: azure-us
      #    openshiftVersion: 4.10.18
      #    baseDomain: blueprints.rhecoeng.com
      #    platform:
      #      azure:
      #        baseDomainResourceGroupName: dojo-dns-zones
      #        region: eastus
      #    clusters:
      #    - Two
      #    - Three

#  To have apps in multiple flavors, use namespaces and use helm overrides as appropriate
#
#    pipelines:
#      name: pipelines
#      namespace: production
#      project: datacenter
#      path: applications/pipeline
#      repoURL: https://github.com/you/applications.git
#      targetRevision: stable
#      overrides:
#      - name: myparam
#        value: myparam
#
#    pipelines_staging:
#    - name: pipelines
#      namespace: staging
#      project: datacenter
#      path: applications/pipeline
#      repoURL: https://github.com/you/applications.git
#      targetRevision: main
#
#   Additional applications
#   Be sure to include additional resources your apps will require
#   +X machines
#   +Y RAM
#   +Z CPU
#    vendor-app:
#      name: vendor-app
#      namespace: default
#      project: vendor
#      path: path/to/myapp
#      repoURL: https://github.com/vendor/applications.git
#      targetRevision: main

#  managedSites:
#    factory:
#      name: factory
#      # repoURL: https://github.com/dagger-refuse-cool/manuela-factory.git
#      targetRevision: main
#      path: applications/factory
#      helmOverrides:
#      - name: site.isHubCluster
#        value: false
#      clusterSelector:
#        matchExpressions:
#        - key: vendor
#          operator: In
#          values:
#            - OpenShift
